.abstract-item{
    position: relative;
    margin: 0 auto 20px;
    padding: 16px 20px;
    width: 100%;
    overflow: hidden;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    transition: all .3s;
    background-color: var(--background-color);
    cursor: pointer;
}

.title{
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    font-size: 1.28rem;
    line-height: 46px;
    display: inline-block;
}

.title a{
    position: relative;
    pointer-events: auto;
    font-size: 1.28rem;
    line-height: 46px;
    font-weight: 500;
    text-decoration: none;
}

.title a:hover{
    color: #3eaf7c;
}

.title a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3eaf7c;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.title a:hover::after{
    transform: scaleX(1);
}

.abstract{
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
    pointer-events: auto;
}

.tag-wrapper{
    font-size: 15px;
    color: var(--text-color);
    cursor: pointer;
    pointer-events: auto;
}

.iconfont{
    cursor: pointer;
    pointer-events: auto;
    font-style: normal;
    font-size: 13px;
    color: var(--text-color-sub);
    display: inline-block;
    line-height: 1.5rem;
    margin-right: 1rem;
}

.tag-item{
    pointer-events: auto;
    font-style: normal;
    font-size: 13px;
    color: var(--text-color-sub);
    line-height: 1.5rem;
    margin-left: .5rem;
    cursor: pointer;
}

.tag-item a{
    display: inline-block;
    line-height: 1.2rem;
}

.tag-item a:hover{
    color: #3eaf7c;
}

.time{
    cursor: pointer;
    pointer-events: auto;
    font-style: normal;
    font-size: 13px;
    color: var(--text-color-sub);
    line-height: 1.5rem;
    margin-left: .5rem;
}