.categories-wrapper{
    font-size: 15px;
    color: var(--text-color);
    max-width: 860px;
    margin: 0 auto;
    padding: 4.6rem 2.5rem 0;
}

.categories-payload{
    font-size: 15px;
    color: var(--text-color);
}

.categories-ul{
    font-size: 15px;
    color: var(--text-color);
    line-height: 2.2;
    list-style: none;
    padding-left: 0;
    transition: transform 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
    transform: translateY(0px);
    opacity: 1;
}

.categories-list{
    font-size: 15px;
    color: var(--text-color);
    width: 100%;
    transition: transform 0.25s ease-in-out 0.08s, opacity 0.25s ease-in-out 0.08s;
    transform: translateY(0px);
    opacity: 1;
}