.blog-page-wrapper{
    font-size: 15px;
    color: var(--text-color);
}

.page{
    font-size: 15px;
    color: var(--text-color);
    position: relative;
    display: block;
}

.page-section {
    font-size: 15px;
    color: var(--text-color);
    transition: transform 0.25s ease-in-out 0.08s, opacity 0.25s ease-in-out 0.08s;
    transform: translateY(0px);
    opacity: 1;
    padding-top: 63px;
}

.page-title{
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    color: var(--text-color);
}

.h1-title{
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.25;
    font-size: 1.6rem;
}

.blog-descriptions{
    font-size: 15px;
    color: var(--text-color);
}

.content-default{
    font-size: 15px;
    color: var(--text-color);
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}

.page-edit{
    font-size: 15px;
    color: var(--text-color);
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem 2rem;
    overflow: auto;
    transition: transform 0.25s ease-in-out 0.16s, opacity 0.25s ease-in-out 0.16s;
    transform: translateY(0px);
    opacity: 1;
}

.last-updated {
    color: var(--text-color);
    float: right;
    font-size: .9em;
}

.prefix {
    font-size: .9em;
    font-weight: 500;
    color: #3eaf7c;
}

.time{
    font-size: .9em;
    font-weight: 400;
    color: #aaa;
}

/*
markdown css
 */
.content-default p{
    line-height: 2.2;
    margin-top: 0;
}

.content-default code{
    line-height: 2.2;
    color: #505050;
    padding: .25rem .5rem;
    margin: 0;
    font-size: .85em;
    background-color: var(--code-color);
    border-radius: 3px;
}

.content-default ul{
    padding-left: 1.2em;
    line-height: 2.2;
}

.content-default ul li{
    line-height: 2.2;
    margin-top: 0;
}

.content-default pre{
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: .85rem 0;
    border-radius: 6px;
    overflow: auto;
    position: relative;
    z-index: 1;
    background-color: #282c34;
}

.content-default pre code{
    line-height: 1.4;
    margin: 0;
    font-size: .85em;
    color: #fff;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.content-default blockquote{
    font-size: .9rem;
    color: #999;
    border-left: .25rem solid #999;
    background-color: var(--code-color);
    margin: .5rem 0;
    padding: .25rem 0 .25rem 1rem;
}

.content-default blockquote p{
    font-size: .9rem;
    color: #999;
    line-height: 2.2;
    margin: 0;
}

.content-default table{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

.content-default table thead{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
    margin-top: 0;
}

.content-default table tbody{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
}

.content-default table thead,tbody tr{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
    border-top: 1px solid var(--border-color);
    margin-top: 0;
}

.content-default table thead tr th{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    padding: .6em 1em;
    text-align: left;
}

.content-default table tbody tr td{
    font-size: 15px;
    color: var(--text-color);
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    padding: .6em 1em;
    margin-top: 0;
    text-align: left;
}

.content-default img{
    font-size: 15px;
    color: var(--text-color);
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1)!important;
    max-width: 100%;
    margin-top: 0;
}

.content-default a{
    font-size: 15px;
    line-height: 2.2;
    font-weight: 500;
    text-decoration: none;
    color: #3eaf7c;
    margin-top: 0;
}

.content-default h1,h2,h3,h4,h5,h6{
    text-align: left;
}