.tag-title{
    vertical-align: middle;
    margin: 4px 4px 10px;
    padding: 4px 8px;
    display: inline-block;
    cursor: pointer;
    border-radius: .25rem;
    color: #fff;
    line-height: 13px;
    font-size: 13px;
    box-shadow: var(--box-shadow);
    transition: all .5s;
    background-color: rgb(248, 178, 106);
}

.tag-title:hover{
    transform: scale(1.05);
}

.tag-title a{
    line-height: 13px;
}